<!---Theme Category 2 (Music)-->
<ion-grid no-padding>
  <ion-row wrap responsive-md no-margin no-padding>
    <ion-col width-25 no-margin no-padding *ngFor="let group of data.items;let i = index;">
      <ion-card background-size  no-margin (click)="openSubGallery(data, i)"
      [ngStyle]="{'background-image': 'url(' + group.image + ')'}">
        <div class="gallery-title">
          <h2 item-title>{{group.title}}</h2>
          <p item-subtitle>{{group.items.length}} image(s)</p>
          <ion-icon (click)="onEvent('onFavorite', group, $event)">
            <i class="icon" [ngClass]="{'icon-heart': group.favorite, 'icon-heart-outline': !group.favorite}"></i>
          </ion-icon>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
